[defaults]
connection = smart
roles_path = ansible/roles
# library      = ansible/plugins/modules
# module_utils = ansible/plugins/module_utils
host_key_checking = false
inventory = inventory/hosts
command_warnings = false
[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o IdentitiesOnly=yes
